.photo-container {
	margin: 5px auto;
	border: 1px;
	border-style: solid;
	border-color: gray;
	padding: 5px;
	background-color: ivory;
}

.photo {
	padding: 0;
	margin: 0 auto;
	border: 3px;
	border-style: solid;
	border-color: gray;
}

.description {
	border-radius: 5px;
	padding: 5px;
	background-color: white;
	position: absolute;
	left: 5px;
    top: 5px;
	margin: 25px;
	font-size: x-small;
	z-index: 2;
}

.header-input {
	margin: 40px auto 10px;*/
	float: left;
}
