<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Flickr search</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="./css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body>
	<div ng-app="flickrApp" ng-controller="flickrCtrl" class="container">
		<form>
			<div class="row">
				<select ng-options="item1 for item1 in level1" ng-model="level1Selected" ng-change="setLevel2()"></select>
				<select ng-options="item2 for item2 in level2" ng-model="level2Selected" ng-change="setLevel3()"></select>
				<select ng-options="item3 for item3 in level3" ng-model="level3Selected"></select>
				<button ng-click="submit(('&tags=' + level2Selected + '+' + level3Selected))" class="btn btn-default glyphicon glyphicon-search" type="submit"></button>
			</div>
			<div class="row header-input">
				<label for="search-box">Enter the tag to search for</label>
				<div class="input-group">
					<input id="search-box" type="text" class="form-control" ng-model="searchTerm"></input>
					<span class="input-group-btn">
						<button ng-click="submit('&tags=' + searchTerm)" class="btn btn-default glyphicon glyphicon-search" type="submit"></button>
					</span>
				</div>
			</div>	
		</form>
		<span ng-show="output">
			<div class="row">
				<div ng-mouseleave="hovered = 0" ng-repeat="photo in output.photos.photo" class="col-xs-12 col-sm-4 col-md-3 col-lg-2 photo-container text-center centered">
					<div class="centered">
						<img ng-src="{{photo.url}}" ng-alt="{{photo.title}}" ng-attr-title="{{photo.title}}" class="img-responsive centered photo">
					</div>
					<a class="text-center" href="#" ng-mouseover="hovered = 1">Available sizes</a>
					<div class="description" ng-show="hovered" >
						<div ng-repeat="size in photo.sizes">
							<a ng-href="{{size.source}}" target="_blank">{{size.label}} ({{size.width}} X {{size.height}})</a>
						</div>
					</div>
				</div>
			</div>
			<!--<h1>Output: {{output}}</h1>-->
		</span>
		<span ng-show="!output"><h1>There is no output</h1></span>
	</div>
	<script src="./script.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
