<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Flickr search</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body>
	<div ng-app="flickrApp" ng-controller="flickrCtrl">
		<span ng-show="output">
			<div ng-repeat="x in output.photos.photo">
				<div><img ng-src="{{x.url}}" ng-alt="{{x.title}}" ng-attr-title="{{x.title}}"></div>
				Available sizes:
				<div ng-repeat="size in x.sizes">
					<a ng-href="{{size.source}}">{{size.label}} ({{size.width}} X {{size.height}})</a>
				</div>
			</div>
			<h1>Output: {{output}}</h1>
		</span>
		<span ng-show="!output"><h1>There is no output</h1></span>
	</div>
	<script src="./script.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
